html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  border: none;
  padding: 0;
}

body {
  background-color: #08020d;
}

@media screen and (max-width: 414px) {
  html,
body {
    overflow-x: hidden;
  }
}
.global-container {
  min-width: 1200px;
  margin-top: 25px;
}

@media screen and (max-width: 414px) {
  .global-container {
    min-width: auto;
  }
}
@media screen and (max-width: 414px) {
  main {
    padding: 0 20px;
  }
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
}
.common-font-rules {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #cacaca;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

h3 {
  font-size: 24px;
  line-height: 45px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
}

h4 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 414px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }

  h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
  }

  h4 {
    line-height: 24px;
  }
}
.fz-64px {
  font-size: 64px;
  line-height: 150%;
}

.fz-56px {
  font-size: 56px;
  line-height: 150%;
}

.fz-48px {
  font-size: 48px;
  line-height: 150%;
}

.fz-40px {
  font-size: 40px;
  line-height: 150%;
}

.fz-32px {
  font-size: 32px;
  line-height: 150%;
}

.fz-24px {
  font-size: 24px;
  line-height: 150%;
}

.fz-16px {
  font-size: 16px;
  line-height: 150%;
}

.fz-13px {
  font-size: 12.8px;
  line-height: 150%;
}

.fz-12px {
  font-size: 12px;
  line-height: 150%;
}

.fz-11px {
  font-size: 11px;
  line-height: 150%;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.ff-columnNowrap {
  flex-flow: column nowrap;
}

.fw-wrap {
  flex-wrap: wrap;
}

.jc-center {
  justify-content: center;
}

.jc-sa {
  justify-content: space-around;
}

.jc-sb {
  justify-content: space-between;
}

.jc-se {
  justify-content: space-evenly;
}

.ai-center {
  align-items: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.w-1200px {
  width: 1200px;
}

.mt-5px {
  margin-top: 5px;
}

.mt-15px {
  margin-top: 15px;
}

.mt-16px {
  margin-top: 16px;
}

.mt-20px {
  margin-top: 20px;
}

.mt-25px {
  margin-top: 25px;
}

.mt-50px {
  margin-top: 50px;
}

.mt-100px {
  margin-top: 100px;
}

.mt-200px {
  margin-top: 200px;
}

.mr-50px {
  margin-right: 50px;
}

.mb-15px {
  margin-bottom: 15px;
}

.mb-20px {
  margin-bottom: 20px;
}

.mb-30px {
  margin-bottom: 30px;
}

.mb-50px {
  margin-bottom: 50px;
}

.mb-65px {
  margin-bottom: 65px;
}

.mb-200px {
  margin-bottom: 200px;
}

.ml-50px {
  margin-left: 50px;
}

.tt-uppercase {
  text-transform: uppercase;
}

.tt-capitalize {
  text-transform: capitalize;
}

.fw-bold {
  font-weight: bold;
}

.va-super {
  vertical-align: super;
}

.ta-center {
  text-align: center;
}

.white {
  color: white;
}

.orange {
  color: #f89202;
}

.dark-gray {
  color: #cacaca;
}

.gray {
  color: #e0e0e0;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.btn {
  padding: 20px 30px;
}

header#page-description {
  height: 350px;
  padding-top: 200px;
  padding-bottom: 200px;
}
header#page-description.main-page-desc {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}
header#page-description.artist-page-desc {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}
header#page-description div.logo-n-navigation {
  top: 50px;
  left: 120px;
  gap: 90px;
  width: 1200px;
}
header#page-description div.logo-n-navigation .logo-name {
  position: relative;
  left: 42px;
}
header#page-description div.logo-n-navigation .logo-name::before {
  position: absolute;
  top: -5px;
  left: -40px;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../images/logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  content: "";
}
header#page-description div.logo-n-navigation nav {
  right: 15%;
}
header#page-description div.logo-n-navigation nav ul {
  bottom: 2px;
}
header#page-description div.logo-n-navigation nav ul li {
  height: 16px;
  margin: 0 5%;
}
header#page-description div.logo-n-navigation nav ul li a {
  position: relative;
  bottom: 7px;
}
header#page-description div.logo-n-navigation input[type=search] {
  width: 248px;
  height: 25px;
  padding: 5px 0 5px 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  border-radius: 50px;
  border: none;
  color: #fff;
  background-color: #3c3b3d;
}
header#page-description div.logo-n-navigation input[type=search]::placeholder {
  color: #757575;
  font-size: 13.3px;
  line-height: 15px;
}
header#page-description div.headings-n-forms {
  bottom: 28px;
  left: 120px;
  width: 1200px;
  height: 400px;
}
header#page-description div.headings-n-forms div.main-headings {
  position: relative;
  top: 5px;
  min-width: 1200px;
}
header#page-description div.headings-n-forms p {
  position: relative;
  top: 5px;
  min-width: 1200px;
}
header#page-description div.headings-n-forms form {
  bottom: 3px;
  max-width: 570px;
}
header#page-description div.headings-n-forms form input {
  color: #fff;
  width: 42.98%;
  min-height: 50px;
  padding-left: 22px;
  margin-bottom: 1.5rem;
  border: solid 2px #cacaca;
  border-radius: 3px;
  background-color: transparent;
}
header#page-description div.headings-n-forms form input[type=text] {
  margin-right: 1.5rem;
}
header#page-description div.headings-n-forms form input::placeholder {
  color: #fff;
}
header#page-description div.headings-n-forms form button[type=submit] {
  width: 570px;
  height: 57px;
  border: none;
  border-radius: 5px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13.3px;
  color: #ffffff;
  background-color: #34c176;
  cursor: pointer;
}
header#page-description div.artistName-n-fans {
  left: 120px;
  max-width: 1200px;
}
header#page-description div.artistName-n-fans p.fans-quantity {
  margin-top: 15px;
}
header#page-description div.artistName-n-fans div.fans-buttons {
  top: 50px;
}
header#page-description div.artistName-n-fans div.fans-buttons button {
  width: 200px;
  height: 62px;
  padding: 20px 30px;
  border-radius: 5px;
  cursor: pointer;
}
header#page-description div.artistName-n-fans div.fans-buttons button.mix-button {
  margin-right: 1.5rem;
  background-color: #5328a1;
}
header#page-description div.artistName-n-fans div.fans-buttons button.mix-button img {
  width: 20px;
  height: 20px;
  filter: invert(1);
}
header#page-description div.artistName-n-fans div.fans-buttons button.favorite-button {
  background-color: #95390c;
}
header#page-description div.artistName-n-fans div.fans-buttons button.favorite-button img {
  width: 20px;
  height: 20px;
  filter: invert(1);
}

@media screen and (max-width: 414px) {
  header#page-description {
    padding: 200px 20px;
  }
  header#page-description.main-page-desc {
    height: 453px;
  }
  header#page-description.artist-page-desc {
    height: 330px;
  }
  header#page-description div.logo-n-navigation {
    left: 20px;
    flex-flow: column nowrap;
    gap: 2.2vh;
    align-items: start;
    width: 374px;
  }
  header#page-description div.logo-n-navigation .logo-name {
    left: 40px;
  }
  header#page-description div.logo-n-navigation nav {
    right: 0;
  }
  header#page-description div.logo-n-navigation nav ul {
    flex-flow: column nowrap;
    justify-content: center;
  }
  header#page-description div.logo-n-navigation nav ul li {
    margin: 0;
  }
  header#page-description div.logo-n-navigation nav ul li a {
    position: relative;
    bottom: 7px;
  }
  header#page-description div.logo-n-navigation input[type=search] {
    width: 100%;
  }
  header#page-description div.headings-n-forms {
    top: 45px;
    left: 0;
    width: 100%;
  }
  header#page-description div.headings-n-forms div.main-headings {
    min-width: 0;
  }
  header#page-description div.headings-n-forms div.main-headings h1 {
    text-align: center;
  }
  header#page-description div.headings-n-forms p {
    min-width: 0;
    margin-bottom: 15px;
    text-align: center;
  }
  header#page-description div.headings-n-forms form {
    bottom: -3px;
    width: 100%;
  }
  header#page-description div.headings-n-forms form input {
    width: 92%;
    height: 44px;
    min-height: auto;
  }
  header#page-description div.headings-n-forms form input[type=text] {
    margin-right: 0;
  }
  header#page-description div.headings-n-forms form button[type=submit] {
    width: 100%;
  }
  header#page-description div.artistName-n-fans {
    top: 23px;
    left: 0;
    margin-top: 0;
    height: 500px;
  }
  header#page-description div.artistName-n-fans p {
    position: relative;
    top: 4px;
  }
  header#page-description div.artistName-n-fans div.fans-buttons {
    top: 50px;
  }
  header#page-description div.artistName-n-fans div.fans-buttons button.mix-button {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
  header#page-description div.artistName-n-fans div.fans-buttons button.mix-button img {
    position: relative;
    right: 45px;
  }
  header#page-description div.artistName-n-fans div.fans-buttons button.favorite-button img {
    position: relative;
    right: 18px;
  }
}
article#page-pricing {
  width: 1240px;
  height: 810px;
  padding-top: 100px;
}
article#page-pricing h2 {
  margin-bottom: 50px;
}
article#page-pricing div.pricing-items {
  position: relative;
  top: 30px;
  width: 100%;
}
article#page-pricing div.pricing-items div.pricing-item {
  width: 368px;
  height: 615px;
  padding: 1.5rem;
  border-radius: 1rem;
  line-height: 1em;
  background-position: center;
  background-size: cover;
}
article#page-pricing div.pricing-items div.pricing-item.bg-free {
  background-image: url(../images/subscribe_1.png);
}
article#page-pricing div.pricing-items div.pricing-item.bg-standart {
  background-image: url(../images/subscribe_2.png);
}
article#page-pricing div.pricing-items div.pricing-item.bg-premium {
  background-image: url(../images/subscribe_3.png);
}
article#page-pricing div.pricing-items div.pricing-item h3 {
  position: relative;
  bottom: 30px;
  width: 318px;
  line-height: 36px;
}
article#page-pricing div.pricing-items div.pricing-item p.pricing-value {
  position: relative;
  bottom: 30px;
  width: 318px;
  height: 66px;
  margin-bottom: 16px;
}
article#page-pricing div.pricing-items div.pricing-item a.btn-checkout {
  position: relative;
  bottom: 16px;
  display: block;
  width: 256px;
  height: 24px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}
article#page-pricing div.pricing-items div.pricing-item a.btn-checkout p {
  color: #fff;
}
article#page-pricing div.pricing-items div.pricing-item p.pricing-footer {
  top: 50px;
  width: 318px;
}
article#page-pricing p.pricing-desc-all {
  position: relative;
  bottom: 40px;
  max-width: 1200px;
}

@media screen and (max-width: 414px) {
  article#page-pricing {
    width: 414px;
    height: 2120px;
  }
  article#page-pricing h2 {
    width: 374px;
    left: 20px;
    position: relative;
  }
  article#page-pricing div.pricing-items {
    flex-flow: column nowrap;
  }
  article#page-pricing div.pricing-items div.pricing-item {
    margin-bottom: -30px;
  }
  article#page-pricing div.pricing-items div.pricing-item.bg-free {
    position: relative;
    bottom: 15px;
  }
  article#page-pricing div.pricing-items div.pricing-item.bg-free h3 {
    position: relative;
    bottom: 25.999px;
    width: 323px;
    height: 26px;
  }
  article#page-pricing div.pricing-items div.pricing-item.bg-free p.pricing-value {
    position: relative;
    bottom: 37px;
    width: 328px;
    height: 70px;
  }
  article#page-pricing div.pricing-items div.pricing-item.bg-free a.btn-checkout {
    position: relative;
    top: -8px;
    width: 260px;
    height: 27px;
  }
  article#page-pricing div.pricing-items div.pricing-item.bg-free p.pricing-footer {
    position: relative;
    top: 60px;
    width: 325px;
    height: 63px;
  }
  article#page-pricing div.pricing-items div.pricing-item.bg-standart {
    position: relative;
    top: 0px;
  }
  article#page-pricing div.pricing-items div.pricing-item.bg-standart h3 {
    position: relative;
  }
  article#page-pricing div.pricing-items div.pricing-item.bg-standart a.btn-checkout {
    position: relative;
    top: -5px;
  }
  article#page-pricing div.pricing-items div.pricing-item.bg-standart p.pricing-footer {
    position: relative;
    top: 55px;
    width: 323px;
  }
  article#page-pricing div.pricing-items div.pricing-item.bg-premium {
    position: relative;
    top: 10px;
  }
  article#page-pricing div.pricing-items div.pricing-item.bg-premium h3 {
    height: 24px;
    width: 323px;
  }
  article#page-pricing div.pricing-items div.pricing-item.bg-premium a.btn-checkout {
    position: relative;
    bottom: 0px;
    margin-bottom: 13px;
  }
  article#page-pricing div.pricing-items div.pricing-item h3 {
    font-weight: 400;
    line-height: 24px;
  }
  article#page-pricing p.pricing-desc-all {
    bottom: -20px;
    left: 20px;
    width: 374px;
  }
}
article#page-news {
  padding-top: 100px;
  margin: 0 10vw;
}
article#page-news h2 {
  margin-bottom: 50px;
}
article#page-news div div.news-footer {
  position: relative;
  left: 31px;
}
article#page-news div div.news-footer span.news-author {
  position: relative;
}
article#page-news div div.news-footer span.news-author::before {
  position: absolute;
  top: -3px;
  left: -30px;
  display: block;
  width: 19px;
  height: 19px;
  background-image: url("../images/avatar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 19px;
  content: "";
}
article#page-news div div.news-footer time {
  position: relative;
  left: 10px;
}
article#page-news a {
  width: 135px;
}
article#page-news a button.btn-to-album {
  width: 135px;
  height: 53px;
  border: 1px solid #cacaca;
  border-radius: 5px;
  color: #cacaca;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 414px) {
  article#page-news {
    margin: 0;
  }
  article#page-news div.news-item {
    flex-wrap: wrap;
  }
  article#page-news div.news-item div {
    gap: 3vh;
    margin: 0;
  }
  article#page-news div.news-item img {
    width: 100%;
    margin-bottom: 50px;
  }
  article#page-news div.news-item img.order-1 {
    order: -1;
  }
}
article#page-app {
  padding-top: 100px;
  margin: 0 10vw;
}
article#page-app h2 {
  margin-bottom: 50px;
}
article#page-app div {
  gap: 10%;
}
article#page-app div div {
  position: relative;
  right: 4.5%;
}
article#page-app div div p {
  max-width: 600px;
}
article#page-app div div a button {
  width: 131px;
  height: 53px;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  color: #fff;
  background-color: #95390c;
}
article#page-app img[alt="iphone image"] {
  position: relative;
  right: 2.7%;
  width: 333px;
  height: 278px;
}

@media screen and (max-width: 414px) {
  article#page-app {
    margin: 0;
  }
  article#page-app div {
    flex-flow: column nowrap;
    gap: 0;
  }
  article#page-app div div {
    right: 0;
  }
  article#page-app div img[alt="iphone image"] {
    right: 0;
    order: -1;
  }
}
footer {
  margin-top: 100px;
}
footer nav {
  margin: 3rem 0 2rem 0;
}
footer nav div.subscribe-buttons {
  width: 160px;
}
footer div.footer-footer {
  border-top: solid 1px #cacaca;
}
footer div.footer-footer ul {
  gap: 1%;
  margin: 40px 0 50px 10%;
}

@media screen and (max-width: 414px) {
  footer {
    width: 100%;
  }
  footer nav {
    flex-flow: column nowrap;
    padding: 0 20px;
  }
  footer nav h4 {
    margin-top: 30px;
  }
  footer div.footer-footer ul {
    flex-flow: column nowrap;
    gap: 3vh;
    margin: 40px 0 50px 20px;
  }
}
article#page-popular-track {
  margin: 0 10vw;
}
article#page-popular-track div.popular-tracks-container {
  row-gap: 25px;
  column-gap: 50px;
}
article#page-popular-track div.popular-tracks-container div.popular-track {
  gap: 15px;
  width: 37vw;
}
article#page-popular-track div.popular-tracks-container div.popular-track img {
  width: 55px;
  height: 55px;
}
article#page-popular-track div.popular-tracks-container div.popular-track div.track-info {
  width: 100%;
}

@media screen and (max-width: 414px) {
  article#page-popular-track {
    margin: 0;
  }
  article#page-popular-track div.popular-tracks-container {
    flex-flow: column nowrap;
  }
  article#page-popular-track div.popular-tracks-container div.popular-track {
    width: 100%;
  }
}
article#page-discography {
  margin: 0 10vw;
}
article#page-discography div.discography-items-container {
  row-gap: 25px;
  column-gap: 50px;
}
article#page-discography div.discography-items-container div.discography-item img {
  width: 250px;
  height: 250px;
}

@media screen and (max-width: 414px) {
  article#page-discography {
    margin: 0;
  }
  article#page-discography div.discography-items-container div.discography-item {
    flex: 1 1 0;
  }
  article#page-discography div.discography-items-container div.discography-item img {
    width: 137px;
    height: 137px;
  }
}
article#page-similar {
  margin: 0 10vw;
}
article#page-similar div.similar-items-container {
  row-gap: 25px;
  column-gap: 50px;
}
article#page-similar div.similar-items-container div.similar-item img {
  width: 250px;
  height: 250px;
}

@media screen and (max-width: 414px) {
  article#page-similar {
    margin: 0;
  }
  article#page-similar div.similar-items-container div.similar-item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 1 1 0;
  }
  article#page-similar div.similar-items-container div.similar-item img {
    width: 137px;
    height: 137px;
  }
}

/*# sourceMappingURL=style.css.map */
