// Basic styles

// 1) global sections

body {
  background-color: map-get($colors, black);
}

@media screen and (max-width: 414px) {
  html,
  body {
    overflow-x: hidden;
  }
}

.global-container {
  min-width: 1200px;
  margin-top: 25px;
}

@media screen and (max-width: 414px) {
  .global-container {
    min-width: auto;
  }
}

@mixin mobileVersion-paddings {
  padding: 0 20px;
}

@media screen and (max-width: 414px) {
  main {
    @include mobileVersion-paddings;
  }

}
// 2) fonts

@font-face {
  font-weight: normal;
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-weight: bold;
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

.common-font-rules {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #cacaca;
  line-height: 1.5;
}

// 3) headings

h1 {
  font-size: 60px;
  font-weight: bold;
  color: map-get($colors, white);
  line-height: 90px;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  font-weight: bold;
  color: map-get($colors, white);
  line-height: 57px;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  color: map-get($colors, white);
  line-height: 45px;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  color: map-get($colors, white);
  line-height: 27px;
  text-transform: uppercase;
}

@media screen and (max-width: 414px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
  }

  h4 {
    line-height: 24px;
  }
}

// 4) paragraphs

@each $size in $sizes-list {
  .fz-#{$size}px {
    font-size: map-get($sizes-map, $size);
    line-height: 150%;
  }
}

// 5) atomic styles

// 5.1) grid

.grid {
  display: grid;
}

// 5.2) flex

.flex {
  display: flex;
}

.ff-columnNowrap {
  flex-flow: column nowrap;
}

.fw-wrap {
  flex-wrap: wrap;
}

.jc-center {
  justify-content: center;
}

.jc-fs {
  justify-content: flex-start;
}

.jc-sa {
  justify-content: space-around;
}

.jc-sb {
  justify-content: space-between;
}

.jc-se {
  justify-content: space-evenly;
}

.ai-center {
  align-items: center;
}

// 5.3) position

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

// 5.4) box styles

// 5.4.1) width and height

.w-1200px {
  width: 1200px;
}

// 5.4.2) margin

@each $size in $margin-top-list {
  .mt-#{$size}px {
    margin-top: #{$size}px;
  }
}

@each $size in $margin-right-list {
  .mr-#{$size}px {
    margin-right: #{$size}px;
  }
}

@each $size in $margin-bottom-list {
  .mb-#{$size}px {
    margin-bottom: #{$size}px;
  }
}

@each $size in $margin-left-list {
  .ml-#{$size}px {
    margin-left: #{$size}px;
  }
}

// 5.5) font

.tt-uppercase {
  text-transform: uppercase;
}

.tt-capitalize {
  text-transform: capitalize;
}

.fw-bold {
  font-weight: bold;
}

.va-super {
  vertical-align: super;
}

.ta-center {
  text-align: center;
}

// 5.6) colors

.white {
  color: white;
}

.orange {
  color: map-get($colors, orange);
}

.dark-gray {
  color: map-get($colors, dark-gray);
}

.gray {
  color: map-get($colors, gray);
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

// 5.7) samples
