// Header styles

// 1) main styles
header#page-description {
  height: 350px;
  padding-top: 200px;
  padding-bottom: 200px;

  &.main-page-desc {
    background-image: url('../images/banner.png');
    background-position: center;
    background-size: cover;
  }

  &.artist-page-desc {
    background-image: url('../images/Morten\ Harket.png');
    background-position: center;
    background-size: cover;
  }

  // 1.1) main page
  div.logo-n-navigation {
    top: 50px;
    left: 120px;

    gap: 90px;
    width: 1200px;

    .logo-name {
      position: relative;
      left: 42px;
    }

    .logo-name::before {
      position: absolute;
      top: -5px;
      left: -40px;

      display: block;

      width: 24px;
      height: 24px;

      background-image: url('../images/logo.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 24px;

      content: "";
    }

    nav {
      right: 15%;

      ul {
        bottom: 2px;

        li {
          height: 16px;
          margin: 0 5%;

          a {
            position: relative;
            bottom: 7px;
          }
        }
      }
    }

    input[type="search"] {
      width: 248px;
      height: 25px;
      padding: 5px 0 5px 10px;

      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

      border-radius: 50px;
      border: none;

      color: #fff;
      background-color: map-get($colors, dark);

      &::placeholder {
        color: #757575;
        font-size: 13.3px;
        line-height: 15px;
      }
    }

  }

  div.headings-n-forms {
    bottom: 28px;
    left: 120px;

    width: 1200px;
    height: 400px;

    div.main-headings {
      position: relative;
      top: 5px;
      min-width: 1200px;
    }

    p {
      position: relative;
      top: 5px;
      min-width: 1200px;
    }

    form {
      top: 7px;
      max-width: 570px;

      input {
        color: #fff;

        &[type="text"] {
          margin-right: 1.5rem;
        }

        width: 42.98%;
        min-height: 50px;
        padding-left: 22px;
        margin-bottom: 1.5rem;
        border: solid 2px #cacaca;
        border-radius: 3px;

        background-color: transparent;

        &::placeholder {
          color: #fff;
        }
      }

      button[type="submit"] {
        width: 570px;
        height: 57px;
        border: none;
        border-radius: 5px;

        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 13.3px;

        color: map-get($colors, white);
        background-color: map-get($colors, green);

        cursor: pointer;

      }
    }
  }

  // 1.2) artist page

  div.artistName-n-fans {
    left: 120px;

    max-width: 1200px;

    p.fans-quantity {
      margin-top: 15px;
    }

    div.fans-buttons {
      top: 50px;

      a {
        button {
          width: 200px;
          height: 62px;
          border-radius: 5px;

          cursor: pointer;

          &.mix-button {
            margin-right: 1.5rem;

            background-color: map-get($colors, purple);

            span {
              left: 67px;
              top: 21px;
            }

            span::before {
              position: absolute;
              right: 50px;

              display: block;

              width: 20px;
              height: 20px;

              background-image: url('../images/play-button.svg');
              background-position: center;
              background-repeat: no-repeat;
              background-size: 20px;

              filter: invert(1);

              content: "";
            }

          }

          &.to-favorites-button {
            background-color: map-get($colors, red);

            span {
              left: 67px;
              top: 21px;
            }

            span::before {
              position: absolute;
              right: 107px;

              display: block;

              width: 20px;
              height: 20px;

              background-image: url('../images/heart.svg');
              background-position: center;
              background-repeat: no-repeat;
              background-size: 20px;

              filter: invert(1);

              content: "";
            }
          }
        }
      }
    }
  }
}

// 2) mobile styles

@media screen and (max-width: 414px) {
  header#page-description {
    height: 853px;
    @include mobileVersion-paddings;

    div.logo-n-navigation {
      flex-flow: column nowrap;
      gap: 2vh;
      align-items: start;

      .logo-name {
        left: 40px;
      }

      nav {
        right: 0;

        ul {
          flex-flow: column nowrap;
          justify-content: center;

          li {
            margin: 0;

            a {
              position: relative;
              bottom: 7px;
            }
          }
        }
      }

      input[type="search"] {
        width: 100%;
      }
    }

    // 2.1) main page

    div.headings-n-forms {
      top: 108px;

      div.main-headings {
        min-width: 0;

        h1 {
          text-align: center;
        }
      }

      p {
        min-width: 0;
        margin-bottom: 15px;

        text-align: center;
      }

      form {
        width: 100%;

        input {
          width: 92%;

          &[type="text"] {
            margin-right: 0;
          }
        }

        button[type="submit"] {
          width: 100%;
        }
      }
    }

    // 2.2) artist page

    div.artistName-n-fans {
      top: 55px;
      left: 0;

      height: 500px;

      div.fans-buttons {
        a {
          button.mix-button {
            margin-right: 0;
            margin-bottom: 1.5rem;
          }
        }
      }
    }
  }
}