// 1) main styles

article#page-discography {
  width: 1240px;
  height: 873px;
  margin: 0 20px;

  h2 {
    position: relative;
    left: 20px;
    width: 1200px;
  }

  div.discography-items-container {
    position: relative;
    left: 20px;
    row-gap: 25px;
    column-gap: 50px;

    div.discography-item {
      img {
        width: 250px;
        height: 250px;
      }

      div.discography-info {
        position: relative;
        bottom: 5px;

        h3 {
          font-size: 18px;
          line-height: 27px;
          font-weight: bold;
        }
      }
    }
  }
}

// 2) mobile styles

@media screen and (max-width: 414px) {
  article#page-discography {
    width: 414px;
    height: 897px;
    margin: 0;

    h2 {
      width: 374px;
    }

    div.discography-items-container {

      div.discography-item {
        width: 137px;

        img {
          position: relative;
          width: 137px;
          height: 137px;

          &[alt="Brother - album cover"] {
            bottom: 4px;
          }

          &[alt="Out of My Hands - album cover"] {
            bottom: 4px;
          }

          &[alt="Letter from Egypt - album cover"] {
            bottom: 5px;
          }

          &[alt="Vogts Villa - album cover"] {
            bottom: 5px;
          }
        }

        div.discography-info {
          width: 137px;

          &.discography-info1 {
            bottom: 6px;
          }

          &.discography-info2 {
            bottom: 6px;
          }

          &.discography-info3 {
            bottom: 5px;
          }

          &.discography-info4 {
            bottom: 5px;
          }
        }
      }
    }
  }
}