// 1) main styles

article#page-discography {
  width: 1240px;
  height: 875px;
  margin: 0 20px;

  h2 {
    position: relative;
    left: 20px;
    width: 1200px;
  }

  div.discography-items-container {
    position: relative;
    left: 20px;
    row-gap: 25px;
    column-gap: 50px;

    div.discography-item {
      img {
        width: 250px;
        height: 250px;
      }

      div.discography-info {
        h3 {
          font-size: 18px;
          line-height: 27px;
          font-weight: bold;
        }
      }
    }
  }
}

// 2) mobile styles

@media screen and (max-width: 414px) {
  article#page-discography {
    width: 414px;
    height: 898px;
    margin: 0;

    h2 {
      width: 374px;
    }

    div.discography-items-container {
      left: 0;

      div.discography-item {
        flex: 1 1 0;

        img {
          width: 137px;
          height: 137px;
        }
      }
    }
  }
}