// 1) main styles

article#page-popular-track {
  width: 1240px;
  height: 419px;
  margin: 0 20px;

  h2 {
    position: relative;
    left: 20px;
    width: 1200px;
  }

  div.popular-tracks-container {
    position: relative;
    left: 20px;
    row-gap: 25px;
    column-gap: 50px;

    div.popular-track {
      gap: 15px;

      width: 37vw;

      img {
        width: 55px;
        height: 55px;
      }

      div.track-info {
        width: 100%;
      }
    }
  }
}

// 2) mobile styles

@media screen and (max-width: 414px) {
  article#page-popular-track {
    width: 414px;
    height: 630px;
    margin: 0;

    h2 {
      width: 374px;
    }

    div.popular-tracks-container {
      flex-flow: column nowrap;

      div.popular-track {
        width: 88vw;

        .popular-track-img {
          &.popular-track-img1 {
            position: relative;
            bottom: 5px;
          }

          &.popular-track-img4 {
            position: relative;
            bottom: 5px;
          }
        }

        p.song-duration {
          position: relative;

          width: 20px;
          height: 20px;

          // &.song-duration1 {
          //   top: 10px;
          //   left: 10px;
          // }

          // &.song-duration2 {
          //   top: 10px;

          // }

          // &.song-duration3 {
          //   top: 10px;

          // }

          // &.song-duration4 {
          //   top: 10px;
          // }

          // &.song-duration5 {
          //   top: 10px;
          // }

          // &.song-duration6 {
          //   top: 10px;
          // }
        }
      }
    }
  }
}