// 1) main styles

article#page-similar {
  width: 1240px;
  height: 869px;

  h2 {
    position: relative;
    left: 20px;
    width: 1200px;
  }

  div.similar-items-container {
    position: relative;
    right: 23px;
    row-gap: 25px;
    column-gap: 50px;

    div.similar-item {
      img {
        position: relative;
        width: 250px;
        height: 250px;

        &[alt="Keane"],
        &[alt="Frank Sinatra"],
        &[alt="Paul Young"],
        &[alt="Chris Rea"] {
          bottom: 5px;
        }
      }

      div.similar-info {
        position: relative;
        bottom: 5px;

        h3 {
          font-size: 18px;
          line-height: 27px;
          font-weight: bold;
        }
      }
    }
  }
}

// 2) mobile styles

@media screen and (max-width: 414px) {
  article#page-similar {
    width: 414px;
    height: 1170px;
    margin: 0;

    h2 {
      width: 374px;
    }

    div.similar-items-container {
      column-gap: 0;
      right: 25px;
      bottom: 10px;

      div.similar-item {
        width: 187px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        img {
          position: relative;
          width: 137px;
          height: 137px;
          margin-bottom: 23px;

          &[alt="A-ha band"] {
            top: 6px;
          }

          &[alt="Tears for Fears"] {
            top: 6px;
          }

          &[alt="Duran Duran"] {
            top: 3px;
          }

          &[alt="Jack Savoretti"] {
            top: 3px;
          }

          &[alt="Keane"] {
            bottom: 0;
          }

          &[alt="Frank Sinatra"] {
            bottom: 0;
          }

          &[alt="Paul Young"] {
            bottom: 0;
          }

          &[alt="Chris Rea"] {
            bottom: 0;
          }
        }

        div.similar-info {
          width: 137px;

          &.similar-info1 {
            top: 3px;
          }

          &.similar-info2 {
            top: 3px;
          }

          &.similar-info3 {
            top: 3px;
          }

          &.similar-info4 {
            top: 3px;
          }

          &.similar-info5 {
            bottom: 5px;
          }

          &.similar-info6 {
            bottom: 5px;
          }
        }
      }
    }
  }
}