// Page-app styles

// 1) main styles

article#page-app {
  width: 1240px;
  height: 383px;
  padding-top: 100px;
  margin: 0 10vw;

  h2 {
    position: relative;
    left: 20px;

    width: 1200px;
    margin-bottom: 50px;
  }

  div.page-app-item {
    gap: 10%;

    div.page-app-item-content {
      position: relative;
      right: 5%;
      bottom: 30px;

      p {
        max-width: 600px;
      }

      a {
        button {
          width: 131px;
          height: 53px;
          padding: 16px 40px;
          border: none;
          border-radius: 32px;

          cursor: pointer;

          color: #fff;
          background-color: map-get($colors, red);
        }
      }
    }
  }

  img[alt="iphone image"] {
    position: relative;
    right: 2.7%;

    width: 333px;
    height: 278px;
  }
}

// 2) mobile styles

@media screen and (max-width: 414px) {
  article#page-app {
    width: 414px;
    height: 623px;
    margin: 0;

    h2 {
      width: 374px;
    }

    div.page-app-item {
      flex-flow: column nowrap;
      gap: 0;

      div.page-app-item-content {
        right: 0;
        bottom: -5px;
      }

      img[alt="iphone image"] {
        right: 0;

        order: -1;
      }
    }
  }
}